@charset "UTF-8";
/* CSS Document */


.title{
	font-family: SourceSansPro;
	color: #45c1b6;
	font-style: italic;
	font-size:32px;
	position:relative;
	font-weight: 300;
	left: 178%;
}


.email{
	color:#6485c4;
	padding-left:215px;
	padding-bottom:10px;
	}

.mobilenumber{
	color:#6485c4;
	padding-left:300px;
	padding-bottom:10px;
	}

.email input{
	border: 1px solid #6485c4;
	height: 30px;
	width: 370px;
	border-radius: 15px;
	}

.mobilenumber input{
	border: 1px solid #6485c4;
	height: 30px;
	width: 300px;
	border-radius: 15px;
	}

.dob input{
	width: 374px;
	}

.go-button{
	border:none;
	position: relative;
	left: 28%;
	}

form{
	position:relative;
	left:15%
	}

#f7{
	position:relative;
	left:29%
	}

.interests{
	appearance:none;
	}
	
.tande {
    margin:4px;
    background-color:#FFFFFF;
    border-radius:20px;
    border:1px solid #6485c4;
    overflow:auto;
    float:left;
	padding:10px 20px;
	color:6485c4;
}

.answers{
	position:relative;
	left:5%
	}

.survey{
	color:#45c1b6;
	font-size:24px;
	}

.a{
	display:none;
	}

.apis{
	position:relative;
	left:5%;
	}